# --- [ .NET / C# ] ---
bin/
obj/
[Ou]ut/
# Arquivos de log e cache do .NET
*.log
*.user
*.userosscache
*.sln.docstates

# --- [ Visual Studio ] ---
.vs/
# Arquivos de cache e indexação do VS
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.opendb
*.db
# Pasta de teste
TestResults/

# --- [ VS Code ] ---
.vscode/
# Se você quiser salvar as configurações de debug do VS Code para a equipe, 
# comente a linha acima com # e use as de baixo:
# !.vscode/launch.json
# !.vscode/tasks.json

# --- [ Dependências (NuGet/NPM) ] ---
# O .NET restaura os pacotes automaticamente
packages/
node_modules/
*.nuget.props
*.nuget.targets

# --- [ Banco de Dados Locais ] ---
# Se usar SQLite ou SQL Express local
*.db
*.s3db
*.sqlite
*.mdf
*.ldf

# --- [ Arquivos de Sistema ] ---
.DS_Store
Thumbs.db
